# Ignore bin, obj, .vs en todos los niveles
**/bin/
**/obj/
**/.vs/

# Archivos de usuario de VS
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de build
*.log
*.cache
*.pdb
*.mdb

# NuGet
*.nupkg
packages/
.nuget/

# Archivos temporales
*.tmp
*.bak
*.swp

# VS Code
.vscode/

# Web
*.Publish.xml
*.dbmdl

# Otros archivos de entorno
Thumbs.db
desktop.ini
